<h1> Welcome, <%= @user.name.titleize %>! user_id: <%= session[:user_id] %></h1><br>

<% if (@posts.length == 0) %>
    <p>You have no posts!</p>
<% else %>
    <% @posts.each do |post| %>
        <%= link_to post_path(post) do %>
            <%= image_tag post.image %>
        <% end %>
        <p><%= button_to 'Like', likes_path(post), method: :put %><%= post.likes_count %></p>
        <p>@<%= link_to post.user.name, user_path(post.user_id) %> -- <%= post.caption %></p>
        <br><br>
    <% end %>
<% end %>

<br><br>
<%= button_to 'Create a Post', new_post_path(@post), :method => :get %>
<%= button_to 'Edit Profile', edit_user_path(@user.id), :method => :get %>
<%= button_to 'Log Out', logout_path, :method => :get %>