<div class="profile text-center">
    <div class="profile-posts">
        <% if (@posts.length == 0) %>
            <p>There are no posts :(</p>
        <% else %>
            <% @posts.reverse_each do |post| %>
                <div class="profile-post-spacing">
                    <div class="profile-post-username">
                        <%= image_tag post.user.avatar, :class => "post-user-avatar" %>
                        @<%= link_to post.user.username, user_path(post.user_id) %>
                    </div>
                    <div class="profile-post-img">
                        <%= link_to post_path(post) do %>
                            <%= image_tag post.image, :class => "img-post-resize" %>
                        <% end %>
                    </div>
                    <div class="profile-post-img-info">
                        <%= button_to 'Like', likes_path(post), method: :put %>
                        Number of likes: <%= post.likes_count %>
                        <br><br>
                        <%= post.caption %>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>