<h1>Facegram</h1>
<br><br><br>

<%= form_for(:session, url: sessions_path) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br><br>

    <%= f.label :password %>
    <%= f.password_field :password %>
    <br><br>

    <%= f.submit "Log In" %>
<% end %>

<p>New user? <%= link_to "Sign up!", signup_path %></p>