<div class="container text-center">
   <br><br><br>
   <h1>Welcome to Facegram</h1>
   <br><br>

   <%= form_tag '/login' do %>
      <%= label_tag :username%>
      <%= text_field_tag :username %>
      <br><br>

      <%= label_tag :password%>
      <%= password_field_tag :password%>
      <br><br>

      <%= submit_tag "Log In"%>
   <%end%>

   <p>New user? <%= link_to "Sign up!", signup_path %></p>
</div>