<%= image_tag @user.avatar if @user.avatar.attached? %>
<h2><%= @user.username %></h2>
<p>
    name: <%= @user.name %>
    <br>
    bio: <%= @user.bio %>
</p>

<p>
    <br><br>
    <% @posts.each do |post| %>
        <% if post.user_id == @user.id %>
            <%= image_tag post.image %>
            <p><%= button_to 'Like', likes_path(post), method: :put %><%= post.likes_count %></p>
            <p><%= post.caption %></p>
        <% end %>
    <% end %>

<br><br>
<% if @user.name == current_user.name%>
    <%= button_to 'Home', profiles_path, :method => :get %>
    <%= button_to 'Edit Profile', edit_user_path, :method => :get %>
<% else %>
    <%= button_to 'Home', profiles_path, :method => :get %>
<% end %>