<%#= @user.avatar %>
<h2><%= @user.username %></h2>
<p><%= @user.name %></p>
<p><%#= @user.bio %></p>
<p>
    All posts:
    <br><br>
    <% @posts.each do |post| %>
        <% if post.user_id == @user.id %>
            <%= image_tag post.image %>
            <p><%= button_to 'Like', likes_path(post), method: :put %><%= post.likes_count %></p>
            <p><%= post.caption %></p>
        <% else %>
            <p><%= @user.username %> has no posts!</p>
        <% end %>
    <% end %>

<br><br>
<%= button_to 'Home', profiles_path, :method => :get %>