<%#= @user.avatar %>
<h2><%= @user.username %></h2>
<p><%= @user.name %></p>
<p><%#= @user.bio %></p>
<p>
    All posts:
    <br><br>
    <% if (@posts.length == 0) %>
        <p><%= @user.username %> has no posts!
    <% else %>
        <% @posts.each do |post| %>
            <% if post.user_id == @user.id %>
                <%= image_tag post.image %>
                <p><%= button_to 'Like', likes_path(post), method: :put %><%= post.likes_count %></p>
                <p><%= post.caption %></p>
            <% end %>
        <% end %>
    <% end %>
</p>

<br><br>
<%= button_to 'Home', profiles_path, :method => :get %>