<!DOCTYPE html>
<html>
  <head>
    <title>Facegram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color:#F7F7EF">
    <nav class="navbar navbar-dark fixed-top" style="background-color: #104782;">
        <a class="navbar-brand" href="/home">Facegram</a>
        <div class="navbar-nav d-flex flex-row">
          <% if logged_in? %>
            <a class="nav-item nav-link active px-4" href="/home">Home</a>
            <a class="nav-item nav-link active px-4" href="/posts/new">Create Post</a>
            <a class="nav-item nav-link active px-4" href="/users/<%= session[:user_id] %>/edit">Edit Profile</a>
            <a class="nav-item nav-link active px-4" href="/logout">Logout</a>
          <% else %>
            
          <% end %>
        </div>
      </nav>

      <style>
        .img-circular{
          padding: 25px;
          width: 300px;
          height: 300px;
          background-size: cover;
          display: center;
          border-radius: 100px;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
        }

        .img-post-resize{
          width: 580px;
          height: 380px;
        }

        .profile{
          margin: auto;
          font-family: "Verdana", sans-serif;
        }

        .profile-head{
          padding: 50px;
        }

        .profile-user-info{
          margin: auto;
          width: 400px;
        }

        .profile-posts{
          margin: auto;
          width: 700px;
        }

        .profile-post-spacing{
          margin: 75px;
        }

        .profile-post-username{
          background: #EBEBD3;
          width: 580px;
          padding: 5px;
          text-align: left;
        }

        .post-user-avatar{
          padding: 5px;
          width: 50px;
          height: 50px;
          background-size: cover;
          display: center;
          border-radius: 100px;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
        }

        .profile-post-img{
          width: 580px;
        }

        .profile-post-img-info{
          background: #EBEBD3;
          text-align: left;
          width: 580px;
        }
      </style>
      <%= yield %>
  </body>
</html>
